main {
  background: var(--page-bg) ;
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2.5rem 0.3rem; /* row-gap column-gap */
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  margin: 0 auto;  
  position: relative;
}

.card-grid.fade .card-body {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-grid .card-body {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-grid.narrow {
    max-width:1200px;
}

.card-grid.compact{
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem 1rem;
}