.options-panel{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    /* height: 100vh; */
    min-height: 100%;
    background: var(--content-bg);
    border-left: 1px solid var(--card-border);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.theme-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.theme-button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  background: var(--card-bg);
  color: var(--header-text);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  /* color: black; */
}

.theme-button:hover {
  border-color: var(--card-border);
  background-color: var(--card-hover);
}

.theme-button.active {
  border-color: var(--header-bg);
  font-weight: bold;
}
